<h1>
  This is the sweetest RoR project you've ever seen!
</h1>

<img src='https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/Polskie_p%C4%85czki.jpg/1280px-Polskie_p%C4%85czki.jpg' alt="paczki" height=200px >
<img src='https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/Faworki_021%2C_February_2010.jpg/1280px-Faworki_021%2C_February_2010.jpg' alt="paczki" height=200px >
<img src='https://upload.wikimedia.org/wikipedia/commons/7/77/00409_paczki_z_serem%2C_sanok.jpg' alt="paczki" height=200px >
<img src='https://upload.wikimedia.org/wikipedia/commons/e/e8/Dro%C5%BCd%C5%BC%C3%B3wka_%283924460526%29.jpg' alt='drozdzowki' height=200px>
<img src='https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/NCI_Visuals_Food_Muffins.jpg/1280px-NCI_Visuals_Food_Muffins.jpg' alt='babeczki' height=200px> 
<br>

<p>
  Dzisiaj jest tlusty czwartek i nalezy zjesc duzo pączków!
</p>

<%= link_to "About", about_path %>